<ion-view title="{{navTitle}}" hide-back-button="{{hideBackButton}}">

  <ion-content>
    <div class="heading-text normal-whitespace">
      Under Development <br>
      Coming Soon
    </div>

  </ion-content>
</ion-view>
