<ion-view title="{{navTitle}}">
  <ion-nav-bar>
      <ion-nav-back-button >
      </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list zero-margin">
      <div class="item item-divider">
        Pick a service as your need
      </div>
    </div>
    <div class="list">
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click = "createOffer('houseCleaning')">

                  <i class="icon ion-record text-35" ></i>
                  House Cleaning
                  <i class="icon" ng-click="showHide($event,'showCleaningDetails')"
                   ng-class="options.showCleaningDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
        </ion-item>
        <div class="item" ng-show="options.showCleaningDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showLaundriDetails')"
                  ng-class="options.showLaundriDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    Laundry
        </ion-item>
        <div class="item" ng-show="options.showLaundriDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showPestControlDetails')"
                  ng-class="options.showPestControlDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    Pest Control
        </ion-item>
        <div class="item" ng-show="options.showPestControlDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showFADetails')"
                  ng-class="options.showFADetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    Furniture Assembly
        </ion-item>
        <div class="item" ng-show="options.showFADetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showHouseImpDetails')"
                  ng-class="options.showHouseImpDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    House Improvment
        </ion-item>
        <div class="item" ng-show="options.showHouseImpDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showHandySerDetails')"
                  ng-class="options.showHandySerDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    Handyman Services
        </ion-item>
        <div class="item" ng-show="options.showHandySerDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
        <ion-item class="item item-icon-left item-icon-right accordion-header"
                  ng-click="createOffer()">
                  <i class="icon ion-record text-35" ></i>
                  <i class="icon"
                  ng-click="showHide($event,'showMaidDetails')"
                  ng-class="options.showMaidDetails ? 'ion-arrow-up-b' : 'ion-help'"></i>
                    Maid on Demand
        </ion-item>
        <div class="item" ng-show="options.showMaidDetails">
          <p class="text-12 no-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
         </p>
        </div>
      </div>

  </ion-content>
</ion-view>
