<ion-pane>
<ion-view title="{{navTitle}}">
  <ion-nav-bar>
      <ion-nav-back-button >
      </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header house-cleaning">
  <div class="list">
  <div class="item item-divider">
   Provide your requirements
  </div>
  </div>
  <div class="list padding no-upper-padding">
  <div class="custom-input-label">Your Location</div>
  <div class="item item-input item-select padding custom-select-container" >
   <select class="custom-select" ng-model="offer.location" required="">
     <option value="" disabled="">Location</option>
     <option value="dera"> Dera </option>
     <option value="silicon oasis"> Silicon oasis </option>
     <option value="Palm Jummehra"> Palm Jummerah</option>
     <option value="Rashdiya"> Rashida</option>
   </select>
  </div>
  <div class="custom-input-label">
   Provide your house information
  </div>
  <div class="row double-input">
   <div class="col-50">
     <div class="item item-input item-select padding custom-select-container">
       <select class="custom-select" ng-model="offer.detail.house_type" required="">
         <option value="" selected="" disabled="">House Type</option>
         <option value="office">Office</option>
         <option value="villa">Villa</option>
         <option value="studio">Studio</option>
         <option value="1bhk">1 BHK</option>
         <option value="2bhk">2 BHK</option>
         <option value="3bhk">3 BHK</option>
         <option value="4bhk">4 BHK</option>
         <option value="5bhk">5 BHK</option>
       </select>
     </div>
   </div>
   <div class="col-50 second-child">
     <div class="item item-input item-select padding custom-select-container">
       <select class="custom-select" ng-model="offer.detail.size" required="">
         <option value="" disabled="">Size (sq. ft.)</option>
         <option value="100-300">100-300 (sq. ft.)</option>
         <option value="301-600">301-600 (sq. ft.)</option>
         <option value="601-900">601-900 (sq. ft.)</option>
         <option value="901-1200">901-1200 (sq. ft.)</option>
         <option value="1201-2000">1201-2000 (sq. ft.)</option>
         <option value="2001-3000">2001-3000 (sq. ft.)</option>
       </select>
     </div>
   </div>
  </div>
  <div class="row double-input" style="margin-top:5px;">
   <div class="col-50">
     <div class="item item-input item-select padding custom-select-container">
       <select class="custom-select" ng-model="offer.detail.bedrooms" required="">
         <option value="" disabled="">bedroom</option>
         <option value="0">0 bedroom</option>
         <option value="1">1 bedroom</option>
         <option value="2">2 bedrooms</option>
         <option value="3">3 bedrooms</option>
         <option value="4">4 bedrooms</option>
         <option value="5">5 bedrooms</option>
         <option value="6">6 bedrooms</option>
         <option value="7">7 bedrooms</option>
         <option value="8">8 bedrooms</option>
         <option value="9">9 bedrooms</option>
         <option value="10">10 bedrooms</option>
       </select>
     </div>
   </div>
   <div class="col-50 second-child">
     <div class="item item-input item-select padding custom-select-container">
       <select class="custom-select" ng-model="offer.detail.bathrooms" required="">
         <option selected="" value="" disabled="">Bathrooms</option>
         <option value="1">1 bathroom</option>
         <option value="2">2 bathrooms</option>
         <option value="3">3 bathrooms</option>
         <option value="4">4 bathrooms</option>
         <option value="5">5 bathrooms</option>
       </select>
     </div>
   </div>
  </div>
  <div class="list">
   <ion-item class="item-icon-right accordion-header upper-margin"
             ng-click="options.show = !options.show"
             ng-class="{active: options.show}">
     <i class="icon" ng-class="options.show ? 'ion-arrow-up-b' : 'ion-arrow-right-b'"></i>
     Cleaning Including
   </ion-item>
   <ion-item class="item-accordion item-icon-left"
             ng-repeat="item in cleaningOptions"
             ng-show="options.show"
             ng-click="clickcleaningOptions(item)"
             ng-class="{'accordion-item-selected': item.selected}">
     {{item.value}}
     <i class="icon ion-ios-checkmark-empty" ng-if="item.selected"></i>
   </ion-item>
  </div>
  <div class="custom-input-label">Needs to be done in</div>
  <div class="item item-input item-select padding custom-select-container">
   <select class="custom-select" ng-model="offer.done_in" required="">

     <option value="" selected=""> -- Select --</option>
     <option value="1">1 day</option>
     <option value="2">2 days</option>
     <option value="3">3 days</option>
     <option value="4">4 days</option>
     <option value="5">5 days</option>
     <option value="6">6 days</option>
     <option value="7">7 days</option>
     <option value="30">more than 7 days</option>

   </select>
  </div>
  <div ng-click="showDateTimeModal()" class="specific-date-button">I have a specific date and time</div>
  <div class="custom-input-label">Additional requirements</div>
  <div class="item item-input">
   <textarea rows="6" placeholder="For eg: Need a cleaner who can clean my terrace and balcony" ng-model="additional_requirements">

   </textarea>
  </div>
  <div class="custom-input-label">Your Budget</div>
  <div class="row">
   <div class="col-50">
     <div class="button-bar button-bar-with-border">
       <!-- <a class="button button-dark" >Yes</a>
       <a class="button button-stable">No</a> -->
       <a class="button button-dark" ng-click="offer.has_budget = true" ng-class="offer.has_budget ? 'button-dark' : 'button-stable'">Yes</a>
       <a class="button button-stable" ng-click="offer.has_budget = false" ng-class="offer.has_budget ? 'button-stable' : 'button-dark'">No</a>
     </div></div>
  </div>
  <div class="row upper-margin">
   <div class="col-25">
     <div class="item item-input item-select padding currency-sel">
       <select class="custom-select" >
         <option selected>USD</option>
         <option>AED</option>
         <option>SAR</option>
         <option>QAR</option>
         <option>BHD</option>
         <option>EUR</option>
       </select>
     </div>
   </div>
   <div class="col-75">
     <div class="item item-input">
       <input type="number" ng-mode="budget"/>
     </div>
   </div>
  </div>
  <div class="specific-date-button">1  USD = 3.7 AED (Approx.)</div>
  </div>
  <button class="button button-full button-stable">
  Continue
  </button>
  </ion-content>
</ion-view>
</ion-pane>
