<ion-view title="{{navTitle}}" hide-back-button="{{hideBackButton}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-outline" ng-click="addOffer()"></button>
    <button class="button button-clear icon ion-search" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <ul class="list grey-frame zero-margin">
      <div class="row item item-icon-left zero-border zero-padding">
        <div class="col">
          <i class="icon ion-location"><p class="text-16">Dubai</p></i>
        </div>
        <div class="col">
          <p class="text-12 go-right"> Change</p>
        </div>
      </div>
    </ul>
    <ion-slide-box class="padding-top-5">
      <ion-slide>
        <div class = "box main-box-1">
          <img height="150" width="100%" src="http://1.bp.blogspot.com/-kXS3MLcpTPw/T4rZBW2p8DI/AAAAAAAABqI/tR5aiO4Cj58/s1600/cows2.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class = "box main-box-2">
          <img height="150" width="100%" src="http://i677.photobucket.com/albums/vv137/smileytrucker/cow-toy-car-stuck-head-1259518194w.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class = "box main-box-3">
          <img height="150" width="100%" src="http://farm6.staticflickr.com/5226/5663664227_ba5e573930_z.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="trending padding-top-10">
      <!-- will use this later to fetch trending services from serve and rederning here -->
      <!-- <div ng-repeat="trending in trendings" ng-if="$index % 4 == 0" class="row"> -->
      <div class="container-fluid">
        <b>&nbsp;Trending Services</b>
        <div class="row text-center zero-padding ">

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line" ui-sref="menu.service({'type':'homeServices'})">
            <div class="icon-container">
              <img src="img/home.svg">
              <p>Home Services</p>
            </div>
          </button>

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/icon5.svg">
              <p>Dry Cleaning</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/carpenter.svg">
              <p>Carpenter</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/elect.svg">
              <p>Electrician</p>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="all-categories padding-top-10">
      <!-- will use this later to fetch trending services from serve and rederning here -->
      <!-- <div ng-repeat="trending in trendings" ng-if="$index % 4 == 0" class="row"> -->
      <div class="container-fluid">
        <b>&nbsp;All Services (20)</b>
        <div class="row text-center zero-padding ">

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line" >
            <div class="icon-container">
              <img src="img/home.svg">
              <p>Home Services</p>
            </div>
          </button>

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/icon5.svg">
              <p>Dry Cleaning</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/carpenter.svg">
              <p>Carpenter</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/elect.svg">
              <p>Electrition</p>
            </div>
          </button>
        </div>
        <div class="row text-center zero-padding ">

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line" >
            <div class="icon-container">
              <img src="img/home.svg">
              <p>Home Services</p>
            </div>
          </button>

          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/icon5.svg">
              <p>Dry Cleaning</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/carpenter.svg">
              <p>Carpenter</p>
            </div>
          </button>
          <button class="col-xs-3 col-sm-3 col-md-3 button button-line"  >
            <div class="icon-container">
              <img src="img/elect.svg">
              <p>Electrition</p>
            </div>
          </button>
        </div>
        <button class=" padding button button-full button-stable ">
          View All
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
