<ion-view view-title="{{navTitle}}" hide-back-button="{{hideBackButton}}">
  <ion-content has-header="true" padding="true">
    <section class = "home-container">
      <div class = "row header">
        <div class = "col text-center">
          <img src="img/logo.png" class="img-100">
        </div>
      </div>
      <div class = "row">
        <div class='col'>
          <form name="loginForm" novalidate ng-submit="signIn()">
            <div class="list">
              <label class="item bottom-border item-input item-floating-label">
                <span class="input-label">Email OR Mobile No.</span>
                <input type="text" ng-model="user.email" name="email" placeholder="Email or Mobile Num"  required="" />
              </label>
              <label class="item item-input bottom-border item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" required="">
              </label>
            </div>
            <input type="submit" class="button button-block button-dark" value="Sign In" ng-disabled="loginForm.$invalid">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col margin-top-negative-20">
          <button class="button button-clear button-dark go-right grey-frame" ui-sref="forgotPassword">
            Forgot Password?
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col text-center grey-frame">
          <p>OR</p>
        </div>
      </div>
      <div class="row border-grey">
        <div class="col col-50 text-20 text-center table-div">
          <span class="center-cell">Sign In with </span>
        </div>
        <div class="col col-50">
          <div class="button-bar padding-top-5">
            <a class="button button-icon icon ion-social-facebook white-icon fb-blue-background" ng-click="fbLogin()"></a>
            <a class="button button-icon icon ion-social-googleplus white-icon g-red-background" ng-click="gPlusLogin()"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center padding-top-20">

            <p class="grey-frame text-16">Do not have an account?
            <a ng-click="signup_window()">
              <b>Create One</b>
            </a>
          </p>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
