<ion-side-menus  enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar zero-border" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="main"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="menu-header">
          <div class="row item item-icon-left item-icon-right menu-header zero-border" ng-click="go('menu.landing')">
            <div class="col">
              <i class="icon ion-record text-35">
                <p class="text-16" ng-if="!logged"> &nbsp;&nbsp;Guest</p>
                <p class="text-16" ng-if="logged">&nbsp;&nbsp;{{user.first_name}}&nbsp;{{user.last_name}}</p>
              </i>
                  <i class="icon ion-ios-bell text-20"></i>
            </div>

          </div>
        </ion-header-bar>

        <ion-content has-header="true" has-subheader="true">
            <ul class="list grey-frame">
              <div class="row item item-icon-left" menu-close>
                <div class="col">
                      <i class="icon ion-location"><p class="text-16">Dubai</p></i>
                </div>
                <div class="col">
                  <p class="text-12 go-right"> Change</p>
                </div>
              </div>
              <div ng-if="!logged">
              <div class="item item-icon-left top-border" menu-close>
                  <i class="icon ion-record"></i>How it works
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>Benefits
              </div>
              </div>
              <div ng-if="logged">
              <div class="item item-icon-left top-border" menu-close>
                  <i class="icon ion-record"></i>My Account
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>My Orders
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>Payments
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>My Favroites
              </div>
              </div>
              <div class="item item-icon-left top-border" menu-close>
                  <i class="icon ion-record"></i>Refer A Friend
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>Invite A Supplier
              </div>
              <div class="item item-icon-left zero-border" menu-close>
                  <i class="icon ion-record"></i>Help
              </div>
            </ul>
        </ion-content>
        <ion-footer-bar class="bar text-center">
            <div ng-if="!logged" ng-click="login()" class=" grey-frame text-16" menu-close>
              Sign In/ Sign Up
            </div>
            <div ng-if="logged" ng-click="logout()" class=" grey-frame text-16" menu-close>
              Sign Out
            </div>

            <!-- <div ng-click="logout()" menu-close class="sidemenu_bg">
                <div class="item item-icon-left zero-border sidemenu_bg">
                    <i class="icon ion-power"></i> Logout
                </div>
            </div> -->
        </ion-footer-bar>
    </ion-side-menu>

</ion-side-menus>
