<ion-view title="{{navTitle}}" hide-back-button="{{hideBackButton}}">
  <ion-content>
    <service-me-intro type="supplier" ng-if="type=='supplier'"></service-me-intro>
    <service-me-intro type="client" ng-if="type=='client'"></service-me-intro>

    <ion-footer-bar class="bar-dark">
      <div class="button-bar footer-bar">
        <a class="button" ng-if="type=='supplier'" ui-sref="menu.landing({'type':'supplier'})">SKIP</a>
          <a class="button" ng-if="type=='client'" ui-sref="menu.landing({'type':'client'})">SKIP</a>
        <a class="button" ng-if="type=='client'" ui-sref="login({'type':'client'})">LOGIN</a>
        <a class="button" ng-if="type=='supplier'" ui-sref="login({'type':'supplier'})">LOGIN</a>
      </div>
    </ion-footer-bar>
</ion-content>
</ion-view>
