<ion-view title="{{navTitle}}" hide-back-button="{{hideBackButton}}">
  <ion-content>
    <div class="card height-45">
      <ion-checkbox class="zero-border" ng-model="isClient" ng-click="presentScreen('client')">
          <div class="heading-text normal-whitespace">
            I want to use Service
          </div>
          <p class="normal-whitespace text-20">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting
            industry. Lorem Ipsum has been the
            industry's standar
          </p>
      </ion-checkbox>
    </div>
    <div class="card height-45">
      <ion-checkbox class="zero-border" ng-model="isSupplier" ng-click="presentScreen('supplier')">
        <div class="heading-text normal-whitespace">
            I want to make money
          </div>
          <p class="normal-whitespace text-20">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting
            industry. Lorem Ipsum has been the
            industry's standar
          </p>
      </ion-checkbox>
    </div>
  </ion-content>
</ion-view>
