<ion-slides  class = "padding-bottom-20" options="options" slider="data.slider">
  <ion-slide-page>
    <div class="padding">
        <div class="row">
          <div class="col">
            <img src="img/icon1.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon2.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon3.svg" class="icon-85">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="img/icon4.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon5.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon6.svg" class="icon-85">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="img/icon7.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon8.svg" class="icon-85">
          </div>
          <div class="col">
            <img src="img/icon9.svg" class="icon-85">
          </div>
        </div>
        <div class="row padding-top-30 text-center">
          <div class="col">
          <div class="padding heading-text normal-whitespace">
            ServiceMe help you to
          </div>
          <p class="padding normal-whitespace text-20">
            Finds Drivers, Repairmens, Cleaners and much more..
          </p>
        </div>
        </div>
    </div>
  </ion-slide-page>
  <ion-slide-page>
    <div class="">
      <h1>Second Page Under Dev </h1>
    </div>
  </ion-slide-page>
  <ion-slide-page>
    <div class="">
      <h1>Third Page Under Dev</h1>
    </div>
  </ion-slide-page>
</ion-slides>
