<ion-slides  class = "padding-bottom-20"	options="options" slider="data.slider">
  <ion-slide-page>
    <div class="">
      <h1>First Page Under Dev </h1>
    </div>
  </ion-slide-page>
  <ion-slide-page>
    <div class="">
      <h1>Second Page Under Dev </h1>
    </div>
  </ion-slide-page>
  <ion-slide-page>
    <div class="">
      <h1>Third Page Under Dev</h1>
    </div>
  </ion-slide-page>
</ion-slides>
