<ion-view>
    <div class="modal">
        <ion-header-bar align-title="center" class="theme-bg">
            <div class="buttons">
                <button class="button button-clear button-stable" ng-click="cancel_signup_window()">Cancel</button>
            </div>
            <h1 class="title" >SignUp</h1>
        </ion-header-bar>
        <ion-content has-header="true" padding="true">

          <div class="list padding-top-30">
                <div class="item zero-border text-center">
                  <p class="padding normal-whitespace text-16">
                    Verify your number, Its quick and easy.
                  </p>
                </div>
                <form name="numberform" novalidate ng-submit="create_user()">
                <div class="item zero-border">
                  <intlpn ng-model="user.mobile" placeholder="Contact number" default-country="ae" only-country="['ae','sa','om','qe','bh','kw']" national-mode="true" box-header-class="bar-dark" box-header-title="Search country" search-placeholder="search" country-iso-code="model.isocode" country-dial-code="model.dialcode"></intlpn>
                </div>
                <div class="padding item zero-border">
                    <input type="submit" class="button button-block button-dark padding" value="Sign Up" ng-disabled="numberform.$invalid">
                </div>
              </form>
            </div>
        </ion-content>

</ion-view>
