<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center" class="theme-bg">
      <div class="buttons">
        <button class="button button-clear button-stable" ng-click="cancel_signup_step2_window()">Cancel</button>
      </div>
      <h1 class="title" > SignUp Details </h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="list padding-top-20">
        <div class="item zero-border text-center">
          <p class="normal-whitespace text-16">
            Please complete your account details
          </p>
        </div>
        <form name="signUpDetailForm" class="margin-top-negative-20" novalidate ng-submit="signUpStep2Form()">

          <div class="list padding-left-right">
            <div class="row">
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">First Name</span>
                  <input type="text" placeholder="First Name" ng-model="user.first_name" required="">
                </label>
              </div>
              <div class="col">
                <label class="item bottom-border item-input item-floating-label">
                  <span class="input-label">Last Name</span>
                  <input type="text" placeholder="Last Name" ng-model="user.last_name">
                </label>
              </div>
            </div>

            <div>
              <label class="item bottom-border  item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email" placeholder="Email"  required="" />
              </label>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label item-icon-right">
                <span class="input-label">Password</span>
                    <i class="icon ion-eye placeholder-icon" ng-show = "!showPassword" on-touch="showPassword = !showPassword"></i>
                    <i class="icon ion-eye-disabled placeholder-icon" ng-show = "showPassword" on-touch="showPassword = !showPassword"></i>
                <input type="password" ng-hide="showPassword" ng-model = "user.password" id="password" name="password" placeholder="Password" required="">
                <input type="text" ng-show="showPassword" ng-model = "user.password" id="password" name="password" placeholder="Password" required="">
              </label>
            </div>
            <div>
              <label class="item bottom-border item-input item-floating-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model = "user.password_confirmation" id="password_confirmation" name="password_confirmation"
                 ng-required ng-keyup="confirm_password_key_up(user)" placeholder="Confirm Password">
              </label>
            </div>
            <div class="padding-top-5">
              <ion-checkbox class="zero-border" ng-model="tos"><p class="normal-whitespace text-16">I accept ServiceMe terms and conditions</p></ion-checkbox>
            </div>
          </div>
          <div class="padding item zero-border">
            <input type="submit" class="button button-block button-dark padding" value="Continue" ng-disabled="signUpDetailForm.$invalid || !tos || pwError">
          </div>
        </form>
        <div class="item item-icon-left assertive-bg" ng-show="pwError">
          <i class="icon ion-android-alert"></i>
        <span>Password doesn't match</span>
        </div>
      </div>
    </ion-content>
  </ion-view>
