<ion-view>
  <div class="modal">
    <ion-header-bar align-title="center" class="theme-bg">
      <div class="buttons">
        <button class="button button-clear button-stable" ng-click="cancel_verify_num()">Cancel</button>
      </div>
      <h1 class="title" > Verify </h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="list padding-top-30">
        <div class="item zero-border text-center">
          <p class="padding normal-whitespace text-16">
            Enter verification code to verify
          </p>
        </div>
        <form name="codeForm" class="margin-top-negative-20" novalidate ng-submit="verfiy_user_num()">
          <div class="item zero-border">
            <label class="item bottom-border item-input item-fixed-label">
              <span class="input-label">Code</span>
              <input type="password" ng-model="user.code" pattern=".{6,6}" maxlength="6" placeholder="6 digit code"  required="" />
            </label>
          </div>
          <div class="col text-center">
              <p class="grey-frame text-16">
              <a ng-click="showResendMenu()">
                <b>Didn't receive SMS?</b>
              </a>
            </p>
          </div>
          <div class="padding item zero-border">
            <input type="submit" class="button button-block button-dark padding" value="Continue" ng-disabled="codeForm.$invalid">
          </div>
        </form>
      </div>
    </ion-content>
  </ion-view>
