.height-45 {
  height: 45%; }

.text-center {
  text-align: center;
  display: inline; }

.text-left {
  text-align: left; }

.heading-text {
  font-size: 25px;
  color: #757575;
  font-weight: bold; }

.text-20 {
  font-size: 20px !important;
  color: #757575 !important; }

.text-35 {
  font-size: 35px !important; }

.text-25 {
  font-size: 25px !important; }

.text-16 {
  font-size: 16px !important;
  color: #757575 !important; }

.text-12 {
  font-size: 12px !important;
  color: #757575 !important; }

.no-left-right-border {
  border-left: none;
  border-right: none; }

.top-border {
  border-left: none;
  border-right: none;
  border-bottom: none; }

.bottom-border {
  border-left: none;
  border-right: none;
  border-top: none; }

.zero-border {
  border: none;
  border-style: none; }

.normal-whitespace {
  white-space: normal !important; }

.card-with-no-shadow {
  border: none;
  box-shadow: none; }

.scroll {
  height: 100% !important; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10% !important; }

.height-90 {
  height: 80%; }

.height-10 {
  height: 10%; }

.icon-85 {
  width: 85px !important; }

.icon-40 {
  width: 40px !important; }

.padding-top-5 {
  padding-top: 5px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-20 {
  padding-top: 20px; }

.img-100 {
  width: 100px !important; }

.margin-top-negative-20 {
  margin-top: -20px; }

.margin-top-negative-10 {
  margin-top: -10px; }

.grey-frame {
  color: #757575; }

.go-right {
  float: right; }

.go-left {
  float: left; }

.border-grey {
  border: 1px solid #757575; }

.table-div {
  display: table;
  text-align: center;
  height: 65px; }

.center-cell {
  display: table-cell;
  vertical-align: middle; }

.fb-blue-background {
  background-color: #3B5998; }

.g-red-background {
  background-color: #DB4437; }

.white-icon {
  color: #fff; }

.app-header {
  color: #b2b2b2; }

.menu-header {
  background-color: #EAEAEA;
  color: #757575; }

.zero-padding {
  padding: 0px !important; }

.zero-margin {
  margin: 0px !important; }

.col-xs-3, .col-sm-3, .col-md-3 {
  border: 1px solid #EAEAEA !important; }

.icon-container img {
  width: 70%;
  height: 70%; }

.button-line {
  border-radius: 1px;
  line-height: 15px;
  background-color: #fff; }

.icon-container p {
  font-size: 0.75em !important;
  font-weight: bold;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color: #757575 !important;
  text-align: center; }

.custom-select-container {
  height: 40px !important; }

.custom-select {
  direction: inherit !important;
  position: relative !important;
  width: 1000px !important;
  padding-left: 4px !important;
  max-width: 100% !important;
  padding-right: 20px !important; }

.house-cleaning .row {
  padding: 0px !important; }

.house-cleaning .no-upper-padding {
  padding-top: 0px !important; }

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear; }

.list .item.item-accordion.ng-hide {
  line-height: 0px; }

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important; }

.accordion-header {
  height: 47px; }

.accordion-header .icon {
  font-size: inherit;
  color: #999 !important; }

.accordion-item-selected {
  background: gray; }

.specific-date-button {
  font-size: 12px;
  text-align: right;
  margin-top: 8px;
  color: #999 !important; }

.custom-input-label {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px; }

.upper-margin {
  margin-top: 5px !important; }

.double-input {
  position: inherit; }

.double-input .col-50 {
  max-width: 48% !important; }

.double-input .second-child {
  position: absolute;
  right: 0; }

.currency-sel {
  height: 47px; }

.button-bar-with-border {
  border: solid 1px #999 !important; }

.button-bar-with-border > .button {
  border-radius: 0px !important; }

.no-wrap {
  white-space: normal !important; }
